<!DOCTYPE html>
<html>
<head>
  <title>HelloWorld - application Layout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<h1>Codigo Facilito</h1>
</header>
<!--This execute the page that we structured and insert here into the layout -->

<nav class='navbar'>
	<div class='navbar-inner'>
		<ul>
			<li><%= link_to 'Inicio', root_path %></li>
			<li><%= link_to 'Posts', posts_path %></li>
		</ul>
	</div>
</nav>

<%= yield %>

</body>
</html>
